@use '../../../styles/abstracts/' as *;

.btn_default {
  font-size: $text-base;
  text-decoration: none;
  font-weight: 500;
  background-color: $dark-400;
  color: $light-500;
  padding: 0.4em 1em;
  border: 1px solid $dark-500;
  border-radius: 0.2em;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  &:focus {
    outline-color: $dark-600;
  }
  &:hover {
    background-color: $dark-400;
    border-color: $dark-400;
    color: $light-600;
  }
}

.btn_primary {
  font-size: $text-base;
  font-weight: 500;
  text-decoration: none;
  background-color: $primary-500;
  color: $dark-600;
  padding: 0.4em 1em;
  border: 1px solid $primary-500;
  border-radius: 0.2em;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  &:focus {
    outline: 1px solid $light-600;
  }
  &:hover {
    background-color: $dark-600;
    border-color: $primary-500;
    color: $primary-500;
  }
}

.icon_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.icon_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  flex-direction: row-reverse;
}
