@use '../../../styles/abstracts/' as *;

.footer {
  margin-top: auto;
  width: 100%;
  height: fit-content;
  background-color: $dark-600;
  border-top: 1px solid $dark-500;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0.5em;

    .nav {
      margin-bottom: 1.2rem;
      padding: 1em;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 1em;

      @include breakpoint(md) {
        flex-direction: row;
        gap: 0;
      }
      .link {
        font-size: $text-sm;
        color: $light-600;
        text-decoration: none;
        transition: ease-in-out 0.1s;
        &:hover {
          color: $primary-500;
        }
      }

      .social {
        display: flex;
        align-items: center;
        gap: 0.7em;
        .link {
          font-size: $text-md;
        }
      }
    }

    .copyright {
      small {
        color: $dark-400;
        font-size: $text-xs;
        @include breakpoint(md) {
          font-size: $text-sm;
        }
      }
    }
  }
}
