@use '../abstracts/' as *;

.breadcrumb {
  width: 100%;
  display: flex;

  a {
    &:hover {
      color: $primary-500;
    }
  }

  & > * {
    text-decoration: none;
  }
  span {
    margin: 0 1rem;
  }
}

.gallery_section {
  margin-bottom: 4rem;

  .gallery_img {
    margin: auto;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0px 6px 20px rgba(rgb(8, 8, 10), 0.9);
    }
  }
}
