// COLOUR VARIABLE
$dark-400: #374151;
$dark-500: #1f2937;
$dark-600: #111827;

$light-400: #f3f4f6;
$light-500: #d1d5db;
$light-600: #6b7280;

$primary-400: #6ee7b7;
$primary-500: #34d399;
$primary-600: #10b981;

// TEXT SIZE VARIABLE
$text-xxl: 3rem;
$text-xl: 2.25rem;
$text-lg: 1.875rem;
$text-md: 1.25rem;
$text-base: 1rem;
$text-sm: 0.875rem;
$text-xs: 0.75rem;
