@use '../abstracts/' as *;

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: $dark-600;
  color: $light-500;
  z-index: 1;
  &::after {
    position: absolute;
    inset: 0;
    content: '';
    filter: brightness(0.3);
    background-image: url('/img/bg_patten.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
  }
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

section {
  padding: 1em 0;
}

// SCROLLBAR
*::-webkit-scrollbar {
  width: 0.7em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: $dark-500;
}

*::-webkit-scrollbar-thumb {
  background-color: $dark-400;
  border: 1px solid $dark-400;
  border-radius: 4px;
}
