@use '../abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

h1,
h2,
h3,
h4 {
  font-family: 'Titillium Web', sans-serif;
  color: $light-400;
  margin: 0;
  padding: 0;
}

body,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

p,
li {
  color: $light-600;
  line-height: 1.6;
  font-size: $text-sm;
  @include breakpoint(md) {
    font-size: $text-base;
  }
}

a {
  color: $light-500;
  // text-decoration: none;
}

strong {
  color: $light-500;
}

::selection {
  background: $primary-500;
  color: $dark-500;
}
